<!DOCTYPE html>
<html>
    <head>
         <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ asset('favicon.ico') }}" />
        <title>Rocket | Recommended SAP WMS – Suitability Rating</title>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
						new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
			})(window,document,'script','dataLayer','GTM-P8Z62K5');</script>
		<!-- End Google Tag Manager -->
    </head>
    <body class="result-page">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8Z62K5"
						  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
        <header class="pt-5 pb-5">
	<div class="container">
		<div class="row">
			<a target="_blank" href="https://www.rocket-consulting.com/" class="logo">
				<img id="logo" src="{{ asset('img/logo.png') }}" />
			</a>
			<div class="col-sm-12 p-0">
				<h1 class="m-0 text-center light">SAP WMS Selection Tool</h1>
			</div>
		</div>
	</div>
</header>
<div id="sub-header" class="pt-4 pb-4">
	<div class="container"> 
		<h3 class="m-0 text-center">Recommended SAP WMS – Suitability Rating</h3>
		<p class="text-center">Based on your answers please find your platform suitability rating detailed below. Your score is based on the below criteria.<br>
		Please scroll down to access the detailed report.</p>
	</div> 
</div>
 {# <pre>
    {{ dump(result) }}
</pre>   #}
<div id="graps-wrap" class="py-4">
	<div class="container">
		<div class="row" >
			<h4 class="w-100 text-center" >Rocket Suitability Rating</h4>
		</div>

		<div class="row  mt-2">
			<div class="col-12">
				<div id="chart_bar" class="chart_wrap"></div>
			</div>
		</div>
		
		<div class="row mt-5" >
			<h4 class="w-100 text-center" >Requirements Insight</h4>
		</div>
		<div class="row mt-2">
			<div class="col-12 col-md-3">
				<p class="text-center">S/4 EWM (Advanced)</p>
				<div id="chart_embedded_ewm_advanced" class="chart_wrap"></div>
			</div>
			<div class="col-12 col-md-3">
				<p class="text-center">S/4 EWM (Basic)</p>
				<div id="chart_embedded_ewm_basic" class="chart_wrap"></div>
			</div>
			<div class="col-12 col-md-3">
				<p class="text-center">S/4 Stock Room Management</p>
				<div id="chart_stock_room_management" class="chart_wrap"></div>
			</div>
			<div class="col-12 col-md-3">
				<p class="text-center">ERP 6.0 Warehouse Management</p>
				<div id="chart_warehouse_management" class="chart_wrap"></div>
			</div>
		</div>
		<div class="row">
			<div class="text-center w-100" id="leggend">
				<ul class="nav navbar-nav d-inline-flex">
					<li class="nav-item">
						<ul class="p-0">
							<li class="list-inline-item mr-3 ml-3"><span class="circle requirements_met"></span>Requirements Met</li>
							<li class="list-inline-item mr-3 ml-3"><span class="circle requirements_partially_met"></span>Requirements Partially Met</li>
							<li class="list-inline-item mr-3 ml-3"><span class="circle requirements_exceeded"></span>Requirements Exceeded</li>
							<li class="list-inline-item mr-3 ml-3"><span class="circle gaps"></span>Gaps</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<!-- Modal -->
<div class="modal fade" id="download-modal" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<form id="wrap-form" action="" name="data-send" >  
                	<input type="text" value="" placeholder="Name*" id="name" required="" name="name">
					<input type="text" value="" placeholder="Surname*" id="surname" required="" name="surname">
                	<input type="text" value="" placeholder="Organisation*" id="organisation" required="" name="organisation">
                    <input type="text" value="" placeholder="Email*" id="email" required="" name="email"> 
                    <input type="text" value="" placeholder="Phone*" id="phone" required="" name="phone">
                    <input id="send-form" type="submit" value="Download Your Full Personalised Report"/> 
                </form> 
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="text-center mt-4 w-100">
			<h5>Your best fit SAP WMS is:</h5>
			<h2 class="mb-5 mt-3" style="color: #EB7328;">{{ result.HighestScoreName }}</h2>
 		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="text-center w-100">
			<img src="{{ asset('img/rocket-rocketeer-thumbsup.png') }}" width="150" alt="HTML5 Doctor Logo" />
		</div>
	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center">
				<button type="button" id="download-button" class="mt-4 mb-4" data-toggle="modal" data-target="#download-modal">Download Your Full Personalised Report</button>
				<a href="http://wms-selection.rocket-consulting.com/" ><h6 class="mt-2">Reassess your requirements</h6></a>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<ul class="nav nav-pills  w-100" id="pills-tab" role="tablist">
			<li class="nav-item"> <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#chart_embedded_ewm_advanced-content" role="tab" aria-controls="pills-home" aria-selected="true">
					  S/4 EWM (Advanced)
				  </a>
			</li>
			<li class="nav-item"> <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#chart_embedded_ewm_basic-content" role="tab" aria-controls="pills-profile" aria-selected="false">
					  S/4 EWM (Basic)
				  </a>
			</li>
			<li class="nav-item"> <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#chart_stock_room_management-tab-content" role="tab" aria-controls="pills-contact" aria-selected="false">
					  S/4 Stock Room Management
				  </a>
			</li>
			<li class="nav-item"> <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#chart_warehouse_management-tab-content" role="tab" aria-controls="pills-contact" aria-selected="false">
					  ERP 6.0 Warehouse Management
				  </a>
			</li>
		</ul>
	</div>
</div>
<div class="tab-content w-100">
	<div class="tab-pane fade show active" id="chart_embedded_ewm_advanced-content" role="tabpanel" aria-labelledby="pills-home-tab">
 		<div class="container tab-border"> 
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">S/4 EWM (Advanced)</h4>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-6">
					<div id="chart_embedded_ewm_advanced-tab" class="chart_wrap w-100"></div>
				</div>
				<div class="col-md-6">
					<p>Designed and developed from the ground up as a Tier 1/best-of-breed Warehouse Management System to run large scale, large volume, complex warehousing, distribution centre and production site operations. Previously only available as a stand-alone (de-central) system, seamlessly linked via standard SAP integration architecture, businesses now have the additional centralised deployment option seeing EWM as an integral part of SAP S/4HANA ERP. EWM advanced option provides significantly greater capability than the Basic edition, also supporting larger volume operations and direct Material Flow Systems (MFS) automation control. A central component in the SAP Digital Supply Chain (DCC) landscape, enabling and/or supporting benefits from Transportation Management (TM), Global Batch Traceability, Track & Trace, Global Trade and Production/Manufacturing.</p>
					<p>If you wish to support your warehouse management platform selection process, please get in touch today on <a href="mailto:launch@rocket-consulting.com">launch@rocket-consulting.com</a> or <a href="tel:+442083348026">+44 (0) 208 334 8026</a>.</p>
				</div>
			</div> 
		
			<div class="row">
				<div class="col-md-4">
					<h4>What we like</h4>
					<p>Flexibility: EWM can be configured to suit a wide variety of industry best practices and business processes. Furthermore, it is very easy to evolve the solution as business needs change over time.  </p>
					<p>Offering substantial ‘out of the box’ functionality, including tools for automation, RF picking and voice picking, EWM can support more complex warehouse operations like kitting, wave management and value-added services with ease. EWM has traditionally been deployed in a de-central way (stand-alone) and provides any customer with resilience and peace of mind that the supply chain can carry on working if the ERP ever goes offline or vice versa. However, SAP now also offers the option for a centralised deployment which follows the more traditional WM choice of deployment to simplify the data model and reduce the cost to the customer.</p>
					<p>SAP's strategic warehouse management platform with a comprehensive development roadmap, full forward compatibility with SAP S/4 HANA and backward compatibility with SAP ECC. Improved user interface and access to real-time operational analytics with S/4 HANA can transform operations management.</p>
				</div>
				<div class="col-md-4">
					<h4>Watch outs</h4>
					<p>EWM is a powerful foundation to wider supply chain enabled business benefits. It’s worthwhile considering broader strategic business, operations and IT objectives as well as the usual functional requirements, as this will be more likely to identify full potential benefits and produce a compelling business case.</p>
					<p>Delivering results from SAP EWM is not like a typical ERP implementation. Digital warehousing requires a nexus of systems, technology, operations and people/change skills, specialised knowledge and approach. SAP ECC / WM knowledge is not sufficient.</p>
					<p>For warehouse automation, take the time in the integration architecture decisions before committing to a particular approach. There are more than technology decisions to be taken, so think holistically about longer term ease of maintenance, flexibility, support and total cost of ownership.</p>
				</div>
				<div class="col-md-4">
					<h4>Our Recommendations</h4>
					<p>If you are looking to drive business benefit across your supply chain and/or you have large scale, high volume or service rich warehouses and distribution centres, or production sites, this will likely be your go-to platform. Significant additional benefits can be derived from the integration with other SAP digital supply chain platforms and support specific transportation, production and traceability scenarios with relative simplicity.</p>
					<p>Providing a comprehensive capability as well as many specific industry must-haves, such as warehouse billing, hazardous materials handling, traceability (batch and serial) and advanced labour planning and management all within a single platform.</p>
					<p>For high volume multi-shift sites, production sites or automated sites the additional resilience of a decentralised deployment will be beneficial.</p>
					<p>For businesses migrating from SAP ECC, leading with SAP EWM provides a lower risk strategy by decoupling the cut-over of the physical operations from the S/4 HANA big-bang.</p>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-12">
					<h4 class="mb-4">Related content</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column1.jpg') }}" />
					<p class="related-content-title">The Benefits of a Structured SAP EWM Evaluation Process</p>
					<p>Many companies running either SAP Warehouse Management (WM) or a third-party WMS are starting the process of replacing them.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/is-sap-extended-warehouse-management-right-for-my-organisation">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column2.jpg') }}" />
					<p class="related-content-title">SAP EWM: Securing Organisational Buy-in</p>
					<p>Is your organisation trying to understand the potential fit of SAP Extended Warehouse Management (EWM)?</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/how-secure-wider-financial-buy-in-across-organisation-sap-ewm">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column3.jpg') }}" />
					<p class="related-content-title">SAP EWM ‘Basic’ vs ‘Advanced’ with S/4HANA</p>
					<p>SAP’s Extended Warehouse Management (EWM) solution is steadily becoming one of the market’s leading warehouse management systems.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/extended-warehouse-management-basic-vs-advanced-with-s4hana">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column4.jpg') }}" />
					<p class="related-content-title">SAP’s Stock Room Management</p>
					<p>With the launch of S/4HANA 1909 comes a new product to SAP’s supply chain portfolio: Stock Room Management.</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/sap-stock-room-management">READ MORE</a>
				</div>
			</div>
		</div>

		<section class="pt-3 pb-3 result-download-area">
			<h4 class="text-center text-white mb-5">Downloadable Content</h4>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column1.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Replacing SAP WM? What are the options for transition and future deployment?</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/download-replacing-sap-wm-ebook">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column2.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Solve Your Warehousing and Logistics Challenges in 2020 with SAP EWM</h4>
								<a class="cta" style="margin-top: 48px;" href="https://info.rocket-consulting.com/download-11-ways-solve-warehouse-challenges">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column3.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Webinar: SAP Extended Warehouse Management (EWM) - Sustaining a changing business requirement</h4>
								<a class="cta" href="https://info.rocket-consulting.com/download-our-free-webinar-hallmark-cards-uk">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column4.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Uncovering Risks to Profitability From Within Your Supply Chain</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/uncovering-risks-profitability-within-supply-chain">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="chart_embedded_ewm_basic-content" role="tabpanel" aria-labelledby="pills-profile-tab">
		<div class="container tab-border"> 
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">S/4 EWM (Basic)</h4>
				</div>
			</div> 
		 
			<div class="row">
				<div class="col-md-6">
					<div id="chart_embedded_ewm_basic-tab" class="chart_wrap w-100"></div>
				</div>
				<div class="col-md-6">
					<p>An integral, pre-installed part of the SAP S/4 HANA platform, providing businesses the option to use SAP’s strategic Warehouse Management product inside a ‘one box’ solution. This now allows the same deployment options previously available for SAP WM. The basic edition of EWM provides a technically simple solution for businesses with small inventory stores or simple warehouses where only basic operations management is needed.</p>
					<p>If you wish to support your warehouse management platform selection process, please get in touch today on <a href="mailto:launch@rocket-consulting.com">launch@rocket-consulting.com</a> or <a href="tel:+442083348026">+44 (0) 208 334 8026</a>.</p>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-4">
					<h4>What we like</h4>
					<p>The 'free' version (included in S/4 license) offers businesses more functionality than Warehouse Management or Stock Room Management, whilst not limiting their options to expand to Advanced EWM in the future which can be done easily through configuration settings.</p>
					<p>The use of a shared data model within S/4 HANA provides a technically lean solution with lower system overheads.</p>
					<p>Using the latest SAP architecture and user interface, this is a strategic platform that will continue to benefit from upgrades and developments released by SAP.</p>
				</div>
				<div class="col-md-4">
					<h4>Watch outs</h4>
					<p>Whilst some customers will benefit from the ‘Basic’ version of EWM because they have simple processes which are accommodated within the available functions, the licensing metrics also include the average number of delivery lines processed per day. So, depending on your industry and order profiles, even simple warehouse operations can fall into the ‘EWM Advanced’ category if they have high throughput.</p>
					<p>Sizing the ERP box correctly is also something to watch out for, especially if mobile execution is part of your scope where the response times are operation critical. Sizing for peaks and/or future growth should also be incorporated to ensure optimal performance is sustained.</p>
					<p>Finally, EWM can only be deployed centrally, i.e. as part of the S/4 HANA instance. For larger operations a decentralised deployment can bring numerous resilience advantages, however these are not possible with EWM Basic.</p>
					<p>Learn more in our detailed blog, <a href="http://blog.rocket-consulting.com/news-and-resources/extended-warehouse-management-basic-vs-advanced-with-s4hana" target="blank">explaining EWM Advanced vs Basic.</a></p>
				</div>
				<div class="col-md-4">
					<h4>Our Recommendations</h4>
					<p>This is a go-to solution for any business running or migrating to SAP S/4 HANA, and in need of support for warehouses with simple, low volume operations. It is relatively fast to implement, has very cost effective licensing and offers greater capability than WM or SRM, so as long as it fits your requirements it can be an easy winner.</p>
					<p>For businesses with a mixture of higher volume/complexity distribution centres and smaller hubs, EWM basic can be used in a mix-and-match strategy, deploying Advanced EWM only where required at the DC's and leaving smaller hubs in Basic EWM, balancing benefit while retaining single platform and lower total cost of ownership.</p>
					<p>This can be an option for businesses looking for a stepping-stone into EWM as part of an S/4 HANA transition roadmap, but due to the centralised nature, operational cut-over considerations may make this less attractive compared to Decentralised Advanced EWM.</p>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-12">
					<h4 class="mb-4">Related content</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column1.jpg') }}" />
					<p class="related-content-title">The Benefits of a Structured SAP EWM Evaluation Process</p>
					<p>Many companies running either SAP Warehouse Management (WM) or a third-party WMS are starting the process of replacing them.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/is-sap-extended-warehouse-management-right-for-my-organisation">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column2.jpg') }}" />
					<p class="related-content-title">SAP EWM: Securing Organisational Buy-in</p>
					<p>Is your organisation trying to understand the potential fit of SAP Extended Warehouse Management (EWM)?</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/how-secure-wider-financial-buy-in-across-organisation-sap-ewm">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column3.jpg') }}" />
					<p class="related-content-title">SAP EWM ‘Basic’ vs ‘Advanced’ with S/4HANA</p>
					<p>SAP’s Extended Warehouse Management (EWM) solution is steadily becoming one of the market’s leading warehouse management systems.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/extended-warehouse-management-basic-vs-advanced-with-s4hana">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column4.jpg') }}" />
					<p class="related-content-title">SAP’s Stock Room Management</p>
					<p>With the launch of S/4HANA 1909 comes a new product to SAP’s supply chain portfolio: Stock Room Management.</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/sap-stock-room-management">READ MORE</a>
				</div>
			</div>
		</div>

		<section class="pt-3 pb-3 result-download-area">
			<h4 class="text-center text-white mb-5">Downloadable Content</h4>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column1.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Replacing SAP WM? What are the options for transition and future deployment?</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/download-replacing-sap-wm-ebook">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column2.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Solve Your Warehousing and Logistics Challenges in 2020 with SAP EWM</h4>
								<a class="cta" style="margin-top: 48px;" href="https://info.rocket-consulting.com/download-11-ways-solve-warehouse-challenges">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column3.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Webinar: SAP Extended Warehouse Management (EWM) - Sustaining a changing business requirement</h4>
								<a class="cta" href="https://info.rocket-consulting.com/download-our-free-webinar-hallmark-cards-uk">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column4.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Uncovering Risks to Profitability From Within Your Supply Chain</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/uncovering-risks-profitability-within-supply-chain">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="chart_stock_room_management-tab-content" role="tabpanel" aria-labelledby="pills-contact-tab">
		<div class="container tab-border"> 
			<div class="row">
				<div class="col-md-12">
					<h4 class="text-center">S/4 Stock Room Management</h4>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-6">
					<div id="chart_stock_room_management-tab" class="chart_wrap w-100"></div>
				</div>
				<div class="col-md-6">
					<p>Offered by SAP primarily as a quick to implement tactical stop-gap solution. It supports existing businesses running SAP ECC with migration to the new ERP S/4 HANA where the initial focus is on ERP capability, but with the need to conduct very simplistic inventory / warehouse operations as part of the ERP functions, before the wider digital supply chain functions are addressed.</p>
					<p>If you wish to support your warehouse management platform selection process, please get in touch today on <a href="mailto:launch@rocket-consulting.com">launch@rocket-consulting.com</a> or <a href="tel:+442083348026">+44 (0) 208 334 8026</a>.</p>
				</div>
			</div>  
			<div class="row">
				<div class="col-md-4">
					<h4>What we like</h4>
					<p>As an integral part of the SAP S/4 HANA platform, the technical landscape is very simple and there is no additional platform license.</p>
					<p>Based on Warehouse Management (WM) means for any customer using WM it still has a familiar feel albeit with less available functionality.</p>
				</div>
				<div class="col-md-4">
					<h4>Watch outs</h4>
					<p>Although Stock Room Management is built within SAP’s newest S/4 HANA platform, it is not a strategic product, has no future development and has a reduced support life.</p>
					<p>Built around older versions of SAP WM, it doesn’t follow the current WMS vision, functionality and logic which can be found in Extended Warehouse Management (EWM). There are many limitations due to its limited functional and technical capability that will inhibit integration with other SAP digital supply chain modules, such as Transportation Management (TM), and has very limited operational technology support. It offers simple mobile transactions but no possibility to integrate with warehouse automation.</p>
				</div>
				<div class="col-md-4">
					<h4>Our Recommendations</h4>
					<p>Stock Room Management’s (SRM) place in the SAP landscape is to help transition businesses with simple warehousing needs to S/4 HANA, whilst decommissioning their ECC clients. SRM should only be considered where a short term stepping stone to move the ‘core’ business to S/4 HANA is needed, with a strategic plan to revisit and upgrade from SRM to EWM (basic or advanced) within 1-3 years.</p>
					<p>Companies that often use less technology and more paper-based methods of picking/loading etc. will benefit from SRM in the short term.</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 class="mb-4">Related content</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column1.jpg') }}" />
					<p class="related-content-title">The Benefits of a Structured SAP EWM Evaluation Process</p>
					<p>Many companies running either SAP Warehouse Management (WM) or a third-party WMS are starting the process of replacing them.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/is-sap-extended-warehouse-management-right-for-my-organisation">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column2.jpg') }}" />
					<p class="related-content-title">SAP EWM: Securing Organisational Buy-in</p>
					<p>Is your organisation trying to understand the potential fit of SAP Extended Warehouse Management (EWM)?</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/how-secure-wider-financial-buy-in-across-organisation-sap-ewm">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column3.jpg') }}" />
					<p class="related-content-title">SAP EWM ‘Basic’ vs ‘Advanced’ with S/4HANA</p>
					<p>SAP’s Extended Warehouse Management (EWM) solution is steadily becoming one of the market’s leading warehouse management systems.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/extended-warehouse-management-basic-vs-advanced-with-s4hana">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column4.jpg') }}" />
					<p class="related-content-title">SAP’s Stock Room Management</p>
					<p>With the launch of S/4HANA 1909 comes a new product to SAP’s supply chain portfolio: Stock Room Management.</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/sap-stock-room-management">READ MORE</a>
				</div>
			</div>
		</div>

		<section class="pt-3 pb-3 result-download-area">
			<h4 class="text-center text-white mb-5">Downloadable Content</h4>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column1.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Replacing SAP WM? What are the options for transition and future deployment?</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/download-replacing-sap-wm-ebook">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column2.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Solve Your Warehousing and Logistics Challenges in 2020 with SAP EWM</h4>
								<a class="cta" style="margin-top: 48px;" href="https://info.rocket-consulting.com/download-11-ways-solve-warehouse-challenges">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column3.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Webinar: SAP Extended Warehouse Management (EWM) - Sustaining a changing business requirement</h4>
								<a class="cta" href="https://info.rocket-consulting.com/download-our-free-webinar-hallmark-cards-uk">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column4.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Uncovering Risks to Profitability From Within Your Supply Chain</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/uncovering-risks-profitability-within-supply-chain">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div class="tab-pane fade" id="chart_warehouse_management-tab-content" role="tabpanel" aria-labelledby="pills-contact-tab">
		<div class="container tab-border"> 
				<div class="row">
					<div class="col-md-12">
						<h4 class="text-center">ERP 6.0 Warehouse Management</h4>
					</div>
				</div>  
				<div class="row">
					<div class="col-md-6">
						<div id="chart_warehouse_management-tab" class="chart_wrap w-100"></div>
					</div>
					<div class="col-md-6">
						<p>Integrated warehouse option within ECC that can support simple warehouse operations via paper-based picking, but also includes basic mobile (RF) execution of warehouse activities. It’s also possible to support more sophisticated resource and work optimisation, as well as execution when used in partnership with SAP TRM (Task and Resource Management).</p>
						<p>If you wish to support your warehouse management platform selection process, please get in touch today on <a href="mailto:launch@rocket-consulting.com">launch@rocket-consulting.com</a> or <a href="tel:+442083348026">+44 (0) 208 334 8026</a>.</p>
					</div>
				</div>  
				<div class="row">
					<div class="col-md-4">
						<h4>What we like</h4>
						<p>SAP Warehouse Management remains a cost effective and quick to deploy option for customers running SAP ERP (ECC) and needing relatively simple warehouse capability. The Rocket WM Enhanced package provides a great way to increase the capability and user experience cost effectively, while extending the life of this platform.</p>
					</div>
					<div class="col-md-4">
						<h4>Watch outs</h4>
						<p>An older generation platform lacking the innovations, capability and user experience of new platforms. SAP WM is an End of Life product in support only phase, so what you see is what you get with no further investment by SAP products from a finite lifespan (end of life of SAP ECC currently 2026). Furthermore, while this can be a lower cost option in the short term, bear in mind higher costs as the product moves into extended support and ultimately re-implementation costs as you move onto S/4 HANA.</p>
						<p>If you are looking at Transportation Management improvements then choosing Warehouse Management will limit some of the transportation benefits available to you.</p>
					</div>
					<div class="col-md-4">
						<h4>Our Recommendations</h4>
						<p>If you're looking for a short-term tactical solution as a stop gap to a longer term strategy, and there is a good match to your requirements, then SAP WM is still worth consideration. Make sure you have a compelling ROI for this approach to pay back within 2-3 years without extensive bespoke development so it does not impact longer term strategic investment plans.</p>
					</div>
				</div>  
				<div class="row">
					<div class="col-md-12">
						<h4 class="mb-4">Related content</h4>
					</div>
				</div>
			<div class="row">
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column1.jpg') }}" />
					<p class="related-content-title">The Benefits of a Structured SAP EWM Evaluation Process</p>
					<p>Many companies running either SAP Warehouse Management (WM) or a third-party WMS are starting the process of replacing them.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/is-sap-extended-warehouse-management-right-for-my-organisation">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column2.jpg') }}" />
					<p class="related-content-title">SAP EWM: Securing Organisational Buy-in</p>
					<p>Is your organisation trying to understand the potential fit of SAP Extended Warehouse Management (EWM)?</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/how-secure-wider-financial-buy-in-across-organisation-sap-ewm">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column3.jpg') }}" />
					<p class="related-content-title">SAP EWM ‘Basic’ vs ‘Advanced’ with S/4HANA</p>
					<p>SAP’s Extended Warehouse Management (EWM) solution is steadily becoming one of the market’s leading warehouse management systems.</p>
					<a class="related-content-link" href="https://blog.rocket-consulting.com/news-and-resources/extended-warehouse-management-basic-vs-advanced-with-s4hana">READ MORE</a>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-3 mb-4">
					<img class="img-fluid" src="{{ asset('img/Related-content-column4.jpg') }}" />
					<p class="related-content-title">SAP’s Stock Room Management</p>
					<p>With the launch of S/4HANA 1909 comes a new product to SAP’s supply chain portfolio: Stock Room Management.</p>
					<a class="related-content-link" style="margin-top: 39px;" href="https://blog.rocket-consulting.com/news-and-resources/sap-stock-room-management">READ MORE</a>
				</div>
			</div>
		</div>

		<section class="pt-3 pb-3 result-download-area">
			<h4 class="text-center text-white mb-5">Downloadable Content</h4>
			<div class="container">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column1.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Replacing SAP WM? What are the options for transition and future deployment?</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/download-replacing-sap-wm-ebook">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column2.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Solve Your Warehousing and Logistics Challenges in 2020 with SAP EWM</h4>
								<a class="cta" style="margin-top: 48px;" href="https://info.rocket-consulting.com/download-11-ways-solve-warehouse-challenges">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column3.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Webinar: SAP Extended Warehouse Management (EWM) - Sustaining a changing business requirement</h4>
								<a class="cta" href="https://info.rocket-consulting.com/download-our-free-webinar-hallmark-cards-uk">Download</a>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-3 mb-5">
						<div class="single-download-wrap text-center" style="height:100%">
							<img class="img-fluid" src="{{ asset('img/Downloadable-content-column4.jpg') }}" />
							<div class="p-3">
								<h4 class="light mt-0">Uncovering Risks to Profitability From Within Your Supply Chain</h4>
								<a class="cta" style="margin-top: 76px;" href="https://info.rocket-consulting.com/uncovering-risks-profitability-within-supply-chain">Download</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

	</div>
</div>
   <div id="alert-success" class="alert alert-success text-center" role="alert">
         <h4 class="alert-heading">Well done!</h4>
         <p>Soon you will receive an email with the link to download the results in a pdf.</p>
      </div>

	  <div id="loding">
         <span>
         <img  width="150px"  src="{{ asset('img/loading-icon.svg') }}" />
         </span>
      </div>
	  <footer>
        <div class="container">
         <div class="row">
            <div class="col-sm">
               <p>© Rocket Consulting {{ "now"|date("Y") }}</p>
            </div>
            <div class="col-sm">
               <p class="text-center">
               <a target="_blank" href="https://www.rocket-consulting.com/terms-conditions" class="mr-2">Terms & Conditions</a> 
               <a target="_blank" href="https://www.rocket-consulting.com/privacy-policy" class="ml-2">Privacy Policy</a>
            </p>
            </div>
            <div class="col-sm text-right">
                <a target="_blank" href="https://www.rocket-consulting.com/" class="logo"> 
                <img id="logo" src="{{ asset('img/logo.png') }}" /> 
              </a>
            </div>
         </div>
         </div>
      </footer>
    <div id="loding">
      <span>
        <img width="150px" id="logo" src="{{ asset('img/loading-icon.svg') }}" />
      </span>
    </div>
      
    {% block javascripts %}
       {{ encore_entry_script_tags('validate') }}
      {{ encore_entry_script_tags('result') }}
    {% endblock %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
 
	  buildGraphtPie(
			  "chart_stock_room_management",  
        {{ result.SRM_Requirements_Met }},
        {{ result.SRM_Requirements_Partially_Met }},
        {{ result.SRM_Requirements_Exceeded }},
        {{ result.SRM_Gaps }}
			); 
      buildGraphtPie(
			  "chart_stock_room_management-tab",  
        {{ result.SRM_Requirements_Met }},
        {{ result.SRM_Requirements_Partially_Met }},
        {{ result.SRM_Requirements_Exceeded }},
        {{ result.SRM_Gaps }}
			); 

      buildGraphtPie(
				"chart_warehouse_management", 
        {{ result.WM_Requirements_Met }},
        {{ result.WM_Requirements_Partially_Met }},
        {{ result.WM_Requirements_Exceeded }},
        {{ result.WM_Gaps }} 
			);

      buildGraphtPie(
				"chart_warehouse_management-tab", 
        {{ result.WM_Requirements_Met }},
        {{ result.WM_Requirements_Partially_Met }},
        {{ result.WM_Requirements_Exceeded }},
        {{ result.WM_Gaps }} 
			);  

	  buildGraphtPie(
				"chart_embedded_ewm_basic",
        {{ result.EB_Requirements_Met }},
        {{ result.EB_Requirements_Partially_Met }},
        {{ result.EB_Requirements_Exceeded }},
        {{ result.EB_Gaps }}  
			);

      buildGraphtPie(
				"chart_embedded_ewm_basic-tab",
        {{ result.EB_Requirements_Met }},
        {{ result.EB_Requirements_Partially_Met }},
        {{ result.EB_Requirements_Exceeded }},
        {{ result.EB_Gaps }}  
			); 

	  buildGraphtPie(
				"chart_embedded_ewm_advanced",
        {{ result.EA_Requirements_Met }},
        {{ result.EA_Requirements_Partially_Met }},
        {{ result.EA_Requirements_Exceeded }},
        {{ result.EA_Gaps }}  
			);

      buildGraphtPie(
				"chart_embedded_ewm_advanced-tab",
        {{ result.EA_Requirements_Met }},
        {{ result.EA_Requirements_Partially_Met }},
        {{ result.EA_Requirements_Exceeded }},
        {{ result.EA_Gaps }}  
			);
 
       buildGraphtBar(
        {{ result.Stock_Room_Management_MaxScore }},
        {{ result.Warehouse_Management_MaxScore  }},
        {{ result.Embedded_EWM_Basic_MaxScore }},
        {{ result.Embedded_EWM_Advanced_MaxScore }}
      )

      function buildGraphtBar(Stock_Room_Management_MaxScore, Warehouse_Management_MaxScore, Embedded_EWM_Basic_MaxScore, Embedded_EWM_Advanced_MaxScore){
				google.charts.load('current', {packages: ['corechart', 'bar']});
				google.charts.setOnLoadCallback(drawBasic);
							
				function drawBasic() { 
					var data = google.visualization.arrayToDataTable([
						['Y', 'Score',  { role: 'style' }],
						['S/4 EWM (Advanced)', Embedded_EWM_Advanced_MaxScore, '#EB7328'],
						['S/4 EWM (Basic)', Embedded_EWM_Basic_MaxScore, '#EB7328'],
						['S/4 Stock Room Management ', Stock_Room_Management_MaxScore, '#EB7328'],
						['ERP 6.0 Warehouse Management', Warehouse_Management_MaxScore, '#EB7328']
					]);  
					var options = {				
						legend: 'none',
            			tooltip: {
							text: 'value',
							textStyle:{ color: '#000' }
						},
						title: '',
						chartArea: {width: '50%'},
						hAxis: {
							title: 'Rocket Suitability Score',
							minValue: 0, 
							titleTextStyle:{
								color: "#fff"
							}
						},
						 
					}; 
					var chart = new google.visualization.BarChart(document.getElementById('chart_bar'));
					chart.draw(data, options);
				}  			
			}

      function buildGraphtPie(id, value1, value2, value3, value4){  

			  google.charts.load("current", {packages:["corechart"]});
				google.charts.setOnLoadCallback(drawChart);
				function drawChart() {
					var data = google.visualization.arrayToDataTable([
						['rocket', 'Percentage'],
						['', value1],
						['', value2],
						['', value3],
						['', value4]
					]);

					var options = {
						legend: 'none',
						pieSliceText: 'none',
						tooltip: {
							text: 'percentage',
						}, 
						pieStartAngle: 135, 
						slices: {
							0: { color: '#6BAF4C' },
							1: { color: '#EB7328' },
							2: { color: '#35A2C3' },
							3: { color: '#FF0000' }, 
						}
					}; 
					var chart = new google.visualization.PieChart(document.getElementById(id));
					chart.draw(data, options);
				}
			}

    </script>

	<!-- Start of HubSpot Embed Code -->
	<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/3462882.js"></script>
	<!-- End of HubSpot Embed Code -->
    </body>
</html>

 
